---
import { getLastPlayedTracks } from '../lib/spotify'


const response = await getLastPlayedTracks()
const { items } = await response.json();

const topTenTracks = items.slice(0, 10).map(track => ({
    artist: track.artists.map(_artist => _artist.name).join(', '),
    songUrl: track.external_urls.spotify,
    title: track.name
}))

console.log(items[0])
---

<section>
    <h3>Currently most played songs:</h1>
        <ol class="track-list">
            {topTenTracks.map(track => (
                <li class="track-list__item"><a href={track.songUrl}>{track.artist} - {track.title}</a></li>
            ))}
        </ol>
</section>

<style>
    .track-list__item {
        padding: 0.75rem 0;
    }
</style>