---
import "@fontsource/inter";
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-pink: #da62c4;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), var(--accent-pink) 30%, white 60%);
		--almost-white: #dff9fb;
		--almost-red: #F7818D;
		--dark-blue: #19182b;
		--font-body: Inter, system-ui, sans-serif;
	  	color-scheme: light dark;
	}
	html {
		font-family: var(--font-body);
		background-color: var(--dark-blue);
		color: var(--almost-white);
		font-size: 16px;
    	box-sizing: border-box;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

</style>
